{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    {% if user.is_authenticated %}
    <h1>My bills</h1>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>due_date</th>
                <th>amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bill_list %}
            <tr>
                <td>{{ bill.name }}</td>
                <td>{{ bill.due_date }}</td>
                <td>{{ bill.amount }}</td>
                <td>
                    <a href="{% url 'edit_bill' bill.id %}">Edit</a>
                    <a href="{% url 'remove_bill' bill.id %}">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% comment %} Calculate total bill amount {% endcomment %}
    {% with total_amount=0 %}
        {% for bill in bill_list %}
            {% with total_amount=total_amount|add:bill.amount %}
            {% endwith %}
        {% endfor %}
    {% endwith %}

    <p>Total amount: ${{ total_amount|floatformat:2 }}</p>
    {% endif %}
</main>
{% endblock content %}
